body{
    background-color:whitesmoke;
    color:blue;
}

a{
    color:red;
}

ol{
    font-size:50pt;
}

table{
    border-color:aqua;
    border-style:dotted;
}

#container{
    height: 400px;
    width: 400px;
}



#BoxPicture{
position: relative;
height: 300px;
width: 300px;
}

.Box{
border:1px solid black;
border-radius: 15%;
height: 40%;
width: 40%;
position: absolute;
margin: auto;
}

#TopBox{
background-color: azure;
transform: rotate(45deg);
top: 7%;
left: 30%;
}

#LeftBox{
background-color: yellow;
transform: rotate(10deg);
left: 5%;
bottom: 8%;
}

#RightBox{
background-color: brown;
transform: rotate(-10deg);
right: 5%;
bottom: 8%;
}